<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.QqEncVoteTempMapper">
    
    <resultMap type="QqEncVoteTemp" id="QqEncVoteTempResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="candidateId"    column="candidate_id"    />
        <result property="userName"    column="user_name"    />
        <result property="candidateName"    column="candidate_name"    />
        <result property="voteBallotRecord"    column="vote_ballot_record"    />
        <result property="votePlainRecord"    column="vote_plain_record"    />
        <result property="voteTime"    column="vote_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectQqEncVoteTempVo">
        select id, user_id, candidate_id, user_name, candidate_name, vote_ballot_record, vote_plain_record, vote_time, create_by, update_by from qq_enc_vote_temp
    </sql>

    <select id="selectQqEncVoteTempList" parameterType="QqEncVoteTemp" resultMap="QqEncVoteTempResult">
        <include refid="selectQqEncVoteTempVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="candidateId != null  and candidateId != ''"> and candidate_id = #{candidateId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="candidateName != null  and candidateName != ''"> and candidate_name like concat('%', #{candidateName}, '%')</if>
            <if test="voteBallotRecord != null  and voteBallotRecord != ''"> and vote_ballot_record = #{voteBallotRecord}</if>
            <if test="votePlainRecord != null  and votePlainRecord != ''"> and vote_plain_record = #{votePlainRecord}</if>
            <if test="voteTime != null  and voteTime != ''"> and vote_time = #{voteTime}</if>
        </where>
    </select>
    
    <select id="selectQqEncVoteTempById" parameterType="String" resultMap="QqEncVoteTempResult">
        <include refid="selectQqEncVoteTempVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertQqEncVoteTemp" parameterType="QqEncVoteTemp">
        insert into qq_enc_vote_temp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="candidateId != null">candidate_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="candidateName != null">candidate_name,</if>
            <if test="voteBallotRecord != null">vote_ballot_record,</if>
            <if test="votePlainRecord != null">vote_plain_record,</if>
            <if test="voteTime != null">vote_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="candidateId != null">#{candidateId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="candidateName != null">#{candidateName},</if>
            <if test="voteBallotRecord != null">#{voteBallotRecord},</if>
            <if test="votePlainRecord != null">#{votePlainRecord},</if>
            <if test="voteTime != null">#{voteTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateQqEncVoteTemp" parameterType="QqEncVoteTemp">
        update qq_enc_vote_temp
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="candidateId != null">candidate_id = #{candidateId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="candidateName != null">candidate_name = #{candidateName},</if>
            <if test="voteBallotRecord != null">vote_ballot_record = #{voteBallotRecord},</if>
            <if test="votePlainRecord != null">vote_plain_record = #{votePlainRecord},</if>
            <if test="voteTime != null">vote_time = #{voteTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQqEncVoteTempById" parameterType="String">
        delete from qq_enc_vote_temp where id = #{id}
    </delete>

    <delete id="deleteQqEncVoteTempByIds" parameterType="String">
        delete from qq_enc_vote_temp where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>